<!DOCTYPE html>
<html>
  <style>
    body{background:DeepSkyBlue;font-family:Lucida;color: #fff; padding:30px;}
    h1{font-size: 48px; letter-spacing: 2px; text-align:center;}
    p{font-size:16px; text-align:left;}
  </style>
  <% include partials/nav.ejs %>
  <center><h1>Maps</h1></center>
  <head></head>
  <body>
    <form id="map-form" method="POST" action="/mapinfo">
      <p><label for="name">Input</label></p>
      <p><input type="Name" name="name" /></p>
      <p><input type="Submit" value="Submit"/></p>
  </body>
</html>
